<div>
    <h1>Productos en tiempo real</h1>
    <a href="/realTimeProducts">Crear Producto</a>
    <a href="/chat">Chat En vivo</a>
    <div id="productsRealTime2"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/home.js"></script>
</div>