.navbar {
  padding-left: 105px;
  display: flex;  
  justify-content: center;
}
.navbar a:hover{
  color: #ff5733; /* Cambia el color al pasar el ratón por encima */
}
.navbar a{
    padding: 10px;
}